<div id="<%= dom_id client %>">
  <p>
    <strong>Vet:</strong>
    <%= client.vet %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= client.pet %>
  </p>

  <p>
    <strong>User:</strong>
    <%= client.user %>
  </p>

  <p>
    <strong>Home:</strong>
    <%= client.home %>
  </p>

</div>
